<html>
  <head>
    <title>Pi Video Surveillance</title>
  </head>
  <body>
    <h1>Mask Detection</h1>
    <p1>This is a tool you can use to detect people who are not wearing a mask. The code uses video feeds by breaking apart video feeds frame by frame and through AutoML features
      based in the Google Cloud platform gives a decison </p>
    <p2> This project was created during WHACK 2020, an event by Major League Hacking, based on the theme to address an issue related to COVID-19 </p2>
    <img src="{{ url_for('video_feed') }}">
  </body>
</html>
